$primary-bg: #000000 !default;
$primary-bg-900: darken($primary-bg, 60%);
$primary-bg-700: darken($primary-bg, 30%);
$primary-bg-300: scale-color($primary-bg, $lightness: 30%);
$primary-bg-100 : scale-color($primary-bg, $lightness: 60%);

$primary-text: #FFFFFF !default;
$primary-text-900: darken($primary-text, 60%);
$primary-text-700: darken($primary-text, 30%);
$primary-text-300: scale-color($primary-text, $lightness: 30%);
$primary-text-100 : scale-color($primary-text, $lightness: 60%);

$secondary-bg: #00FF00 !default;
$secondary-bg-900: darken($secondary-bg, 60%);
$secondary-bg-700: darken($secondary-bg, 30%);
$secondary-bg-300: scale-color($secondary-bg, $lightness: 30%);
$secondary-bg-100 : scale-color($secondary-bg, $lightness: 60%);

$secondary-text: #FFFFFF !default;
$secondary-text-900: darken($secondary-text, 60%);
$secondary-text-700: darken($secondary-text, 30%);
$secondary-text-300: scale-color($secondary-text, $lightness: 30%);
$secondary-text-100 : scale-color($secondary-text, $lightness: 60%);

