$primary-bg: #050315 !default;
$primary-bg-900: darken($primary-bg, 60%);
$primary-bg-700: darken($primary-bg, 30%);
$primary-bg-300: scale-color($primary-bg, $lightness: 30%);
$primary-bg-100 : scale-color($primary-bg, $lightness: 60%);

$primary-text: #FFFFFF !default;
$primary-text-900: darken($primary-text, 60%);
$primary-text-700: darken($primary-text, 30%);
$primary-text-300: scale-color($primary-text, $lightness: 30%);
$primary-text-100 : scale-color($primary-text, $lightness: 60%);

$primary-theme: #D057B3;
$primary-theme-900: darken($primary-theme, 60%);
$primary-theme-700: darken($primary-theme, 30%);
$primary-theme-300: scale-color($primary-theme, $lightness: 30%);
$primary-theme-100 : scale-color($primary-theme, $lightness: 60%);

$secondary-theme: #61CDD8;
$secondary-theme-900: darken($secondary-theme, 60%);
$secondary-theme-700: darken($secondary-theme, 30%);
$secondary-theme-300: scale-color($secondary-theme, $lightness: 30%);
$secondary-theme-100 : scale-color($secondary-theme, $lightness: 60%);

// Theme2
$theme2-primary-bg: #2B126B !default;
$theme2-primary-bg-900: darken($theme2-primary-bg, 60%);
$theme2-primary-bg-700: darken($theme2-primary-bg, 30%);
$theme2-primary-bg-300: scale-color($theme2-primary-bg, $lightness: 30%);
$theme2-primary-bg-100 : scale-color($theme2-primary-bg, $lightness: 60%);

$theme2-primary-text: #FFFFFF !default;
$theme2-primary-text-900: darken($theme2-primary-text, 60%);
$theme2-primary-text-700: darken($theme2-primary-text, 30%);
$theme2-primary-text-300: scale-color($theme2-primary-text, $lightness: 30%);
$theme2-primary-text-100 : scale-color($theme2-primary-text, $lightness: 60%);

$theme2-primary-theme: #D057B3;
$theme2-primary-theme-900: darken($theme2-primary-theme, 60%);
$theme2-primary-theme-700: darken($theme2-primary-theme, 30%);
$theme2-primary-theme-300: scale-color($theme2-primary-theme, $lightness: 30%);
$theme2-primary-theme-100 : scale-color($theme2-primary-theme, $lightness: 60%);

$theme2-secondary-theme: #61CDD8;
$theme2-secondary-theme-900: darken($theme2-secondary-theme, 60%);
$theme2-secondary-theme-700: darken($theme2-secondary-theme, 30%);
$theme2-secondary-theme-300: scale-color($theme2-secondary-theme, $lightness: 30%);
$theme2-secondary-theme-100 : scale-color($theme2-secondary-theme, $lightness: 60%);

:export {
    primaryBg: $primary-bg;
    primaryBg900: $primary-bg-900;
    primaryBg700: $primary-bg-700;
    primaryBg300: $primary-bg-300;
    primaryBg100: $primary-bg-100;
    primaryText: $primary-text;
    primaryText900: $primary-text-900;
    primaryText700: $primary-text-700;
    primaryText300: $primary-text-300;
    primaryText100: $primary-text-100;
    primaryTheme: $primary-theme;
    primaryTheme900: $primary-theme-900;
    primaryTheme700: $primary-theme-700;
    primaryTheme300: $primary-theme-300;
    primaryTheme100: $primary-theme-100;
    secondaryTheme: $secondary-theme;
    secondaryTheme900: $secondary-theme-900;
    secondaryTheme700: $secondary-theme-700;
    secondaryTheme300: $secondary-theme-300;
    secondaryTheme100: $secondary-theme-100;

    Theme2PrimaryBg: $theme2-primary-bg;
    Theme2PrimaryBg900: $theme2-primary-bg-900;
    Theme2PrimaryBg700: $theme2-primary-bg-700;
    Theme2PrimaryBg300: $theme2-primary-bg-300;
    Theme2PrimaryBg100: $theme2-primary-bg-100;
    Theme2PrimaryText: $theme2-primary-text;
    Theme2PrimaryText900: $theme2-primary-text-900;
    Theme2PrimaryText700: $theme2-primary-text-700;
    Theme2PrimaryText300: $theme2-primary-text-300;
    Theme2PrimaryText100: $theme2-primary-text-100;
    Theme2PrimaryTheme: $theme2-primary-theme;
    Theme2PrimaryTheme900: $theme2-primary-theme-900;
    Theme2PrimaryTheme700: $theme2-primary-theme-700;
    Theme2PrimaryTheme300: $theme2-primary-theme-300;
    Theme2PrimaryTheme100: $theme2-primary-theme-100;
    Theme2SecondaryTheme: $theme2-secondary-theme;
    Theme2SecondaryTheme900: $theme2-secondary-theme-900;
    Theme2SecondaryTheme700: $theme2-secondary-theme-700;
    Theme2SecondaryTheme300: $theme2-secondary-theme-300;
    Theme2SecondaryTheme100: $theme2-secondary-theme-100;
}
