@import '_variables.module.scss';

@font-face {
    font-family: SourceCodePro;
    font-style: normal;
    font-weight: normal;
    src: url('@/fonts/SourceCodePro-Regular.ttf') format('truetype');;
}

@font-face {
    font-family: SourceCodePro;
    font-style: normal;
    font-weight: bold;
    src: url('@/fonts/SourceCodePro-Bold.ttf') format('truetype');;
}

body {
    font-family: SourceCodePro;
}

.portfolio-body {
    background-color: $primary-bg;
    color: $primary-text;
}

.portfolio-container {
    color: $primary-text;
}

.about_bg {
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    z-index: -2;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.primary-bg {
    background-color: $primary-bg;
}

.header-container {
    z-index: 20;
    // background-color: $primary-bg;
    color: $primary-text;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 40px;
    width: 100%;

    .menu-container {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        font-size: 1rem;
        cursor: pointer;
    }

    .menu-item:hover {
        color: $primary-theme;
    }

    .menu-container-mobile {
        display: flex;
        justify-content: flex-end;
    }

    .menu-button {
        cursor: pointer;
        width: fit-content;
        z-index: 20;
    }

    .menu-button-bar1, .menu-button-bar2, .menu-button-bar3 {
        width: 28px;
        height: 4px;
        background-color: $primary-text;
        margin: 4px 0;
        transition: 0.4s;
    }
    
    .btn-close .menu-button-bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    .btn-close .menu-button-bar2 {opacity: 0;}
    
    .btn-close .menu-button-bar3 {
        transform: translate(0, -5px) rotate(45deg);
    }

    #menu-page-container {
        background-color: $primary-bg;
        color: $primary-text;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        .menu-page-items {
          margin-top: 72px;
            display: flex;
            flex-direction: column;
            .menu-item {
                border-top: 1px solid $primary-text;
                padding: 20px 0;
                text-align: center;
                cursor: pointer;
                &:last-child {
                    border-bottom: 1px solid $primary-text;
                }
            }

        }

        .menu-contacts-container {
            position: absolute;
            bottom: 10%;
            display: flex;
            align-items: center;
            gap: 24px;
            justify-content: center;
            width: 100%;
            font-size: 36px;
        }
    }
}

.animation-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-title-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
        @apply text-3xl md:text-4xl;
    }

    .title-gradient {
        background: rgb(101,239,252);
        background: linear-gradient(90deg, rgba(101,239,252,1) 0%, rgba(240,46,194,1) 100%);        
        width: 2rem;
        height: 2px;
    }

    .dot {
        width: 8px;
        height: 8px;
        border: 1px solid $primary-text;
        border-radius: 50%;
        background: $primary-text;
    }
}

#about {
    padding: 9rem 3rem;
    min-height: 100vh;
    position: relative;

    .about-text-container {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 75vw;
    }

    .padding-intro {
        padding-bottom: 30px;
    }

    .scroll-down-container {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 3%;
    }

    .scroll-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    .gradient-layer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient(180deg, $primary-bg 0%, rgba(24, 21, 50, 0) 100%);
        transform: rotate(-180deg);
        z-index: -1;
    }
}

.contacts-container {
    position: absolute;
    right: 5%;
    bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    a {
        i {
          font-size: 36px;
      }
    }
}

#skills {
    padding: 9rem 3rem;
    min-height: 100vh;
}

.skill-container {
    @apply grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3;

    .skill-grid {
        border: 2px solid $primary-theme;
        border-radius: 10px;
        padding: 16px;
        background-color: $primary-bg;

        .skill-session-divider {
            border-bottom: 2px solid $primary-theme;
            width: 30%;
            margin: 1rem auto;
        }
    }

    .skill-grid:nth-child(even) {
        border-color: $secondary-theme;

        .skill-session-divider {
            border-color: $secondary-theme;
        }
    }
    
    .skill-session-label {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .skill-grid-item {
      padding: 16px 0;
      .meter { 
          height: 5px;
          position: relative;
          overflow: hidden;
      }
      
      .meter span {
          display: block;
          height: 100%;
      }
      
      .progress {
          background-color: $primary-text;
      }
    }
}

.intro-text {
    @apply text-2xl sm:text-4xl md:text-5xl lg:text-6xl;
    margin: unset;
    display: flex;
}

.blast {
    cursor: default;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
    white-space: pre;
}

.blast:hover {
    animation-name: rubberBand;
    color: #F6E71D;
}

#tagcloud {
    cursor: grab;
}

#tagcloud a {
    pointer-events: none;
    cursor: default;
  
}

@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

#education {
    padding: 9rem 3rem;

    .education-container {
        padding: 2rem;
        border: 2px solid $primary-theme;
        border-radius: 10px;
        margin-bottom: 2rem;
        background-color: $primary-bg;

        .education-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap-reverse;

            font-size: 1.2rem;
            font-weight: 700;
            color: $primary-theme;
        }
    }

    .education-container:nth-child(even) {
        border-color: $secondary-theme;

        .education-header {
            color: $secondary-theme;
        }
    }

    .education-period {
        margin-left: auto;
    }
    
}

#experience {
    padding: 9rem 3rem;

    .experience-container {
        padding: 2rem;
        border: 2px solid $primary-theme;
        border-radius: 10px;
        margin-bottom: 2rem;
        background-color: $primary-bg;

        .experience-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap-reverse;
            gap: 8px;

            color: $primary-theme;

            .experience-period {
                margin-left: auto;
                border: 2px solid $primary-theme;
                border-radius: 4px;
                padding: 4px 28px;
            }
        }
    }

    .experience-container:nth-child(even) {
        border-color: $secondary-theme;

        .experience-header {
            color: $secondary-theme;

            .experience-period {
                border-color: $secondary-theme;
            }
        }
    }

    .experience-title {
        font-size: 1.2rem;
        font-weight: 700;
    }

    ul {
        list-style: unset;
        padding: 1rem;
    }
}

#project {
    padding: 9rem 3rem;

    .project-grid {
        @apply grid gap-8 grid-cols-1 md:grid-cols-2;

        .project-grid-item:nth-child(even) {
            border-color: $secondary-theme;
            color: $secondary-theme;

            .project-grid-body {
                border-color: $secondary-theme;
            }

            .skill-label {
                border-color: $secondary-theme;
            }
        }
    }

    @media (min-width: 768px) {
        .project-grid {
            @apply grid gap-8 grid-cols-1 md:grid-cols-2;
    
            .project-grid-item:nth-child(4n+2),
            .project-grid-item:nth-child(4n+3) {
                border-color: $secondary-theme;
                color: $secondary-theme;
    
                .project-grid-body {
                    border-color: $secondary-theme;
                }
    
                .skill-label {
                    border-color: $secondary-theme;
                }
            }

            .project-grid-item:nth-child(4n+1),
            .project-grid-item:nth-child(4n+4) {
                border-color: $primary-theme;
                color: $primary-theme;
    
                .project-grid-body {
                    border-color: $primary-theme;
                }
    
                .skill-label {
                    border-color: $primary-theme;
                }
            }
        }
    }

    .project-grid-item {
        background: $primary-bg;
        cursor: pointer;
        border: 2px solid $primary-theme;
        border-radius: 10px;
        color: $primary-theme;
    }

    .project-grid-image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #CCCCCC;

        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            object-fit: contain;
            margin: auto;
        }
    }

    .project-grid-body {
        padding: 1rem;
        border-top: 2px solid $primary-theme;
    }

    .project-grid-name {
        font-size: 1.2rem;
    }

    .skill-label {
        border: 2px solid $primary-theme;
        border-radius: 50px;
        padding: 4px 28px;
    }
}

.modal {
    color: #000;
    z-index: 30;

    .modal-content {
        max-height: 80vh;
        overflow: auto;
    }

    .modal-content-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .project-assets {
        position: relative;
    }

    .modal-slide {
        video, img {
            max-height: 60vh;
            width: auto;
            margin: auto;
        }

        iframe {
            max-height: 60vh;
            width: 80%;
            height: 50vh;
            margin: auto;
        }
    }

    .modal-prev {
        position: absolute;
        left: 0;
        top: 50%;
        font-size: 2rem;
        transform: translate(0,-50%);
        cursor: pointer;

        &:hover {
            opacity: 50%;
        }
    }

    .modal-next {
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 2rem;
        transform: translate(0,-50%);
        cursor: pointer;
        
        &:hover {
            opacity: 50%;
        }
    }

    .numberText {
        text-align: center;
    }

    .modal-skill-label {
        border: 2px solid $primary-theme;
        border-radius: 50px;
        padding: 4px 28px;
        color: $primary-theme;
    }
}